<div>
  <%= flash[:notice] %>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user:@user %>
      <h2 class="mt-3">New book</h2>
      <% newbook=Book.new %>
      <%= render 'form', book:newbook %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@book.user) do %>
            <%= image_tag @book.user.get_profile_image, size:'100x100' %><br>
            <%= @book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, @book %></td>
          <td><%= @book.body %></td>
          <td>
            <% if @book.favorited_by?(current_user) %>
              <P>
                <%= link_to book_favorites_path(@book.id), class:"favorite", method: :delete do %>
                  ♥<%= @book.favorites.count %>
                <% end %>
              </P>
              <% else %>
              <P>
                <%= link_to book_favorites_path(@book.id), class:"dont_like_yet", method: :post do %>
                  ♥<%= @book.favorites.count %>
                <% end %>
              </P>
            <% end %>
          </td>
            <% if @book.user==current_user %>
              <td><%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
              <td><%= link_to 'Destroy', @book, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
            <% end %>
          <td>コメント数:<%= @book.book_comments.count %></td>
        </tr>
      </table>
      <div>
        <% if @book_comments.present? %>
          <% @book_comments.each do |a_comment| %>
          <p>
            <span><%= image_tag a_comment.user.get_profile_image, size:"100x100" %>
            <%= a_comment.user.name %></span>
            <span><%= a_comment.comment %></span>
            <% if a_comment.user==current_user %>
              <%= link_to 'Destroy', book_book_comment_path(@book, a_comment), method: :delete, class:"btn btn-sm btn-danger" %>
            <% end %>
          </p>
          <% end %>
        <% end %>
      </div>
      <div>
        <%= form_with model:[@book,@book_comment],local:true, method: :post do |f| %>
          <%= f.text_area :comment, rows:'5',placeholder:"コメントをここに" %>
          <%= f.submit "送信" %>
        <% end %>
      </div>
    </div>
  </div>
</div>